.btn-base {
  width: 66px;
  height: 32px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.1s ease;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 1);
  padding: 6.5px 8px;


  &:active {
    transform: translateY(1px);
  }
}

.btn-cancel {
  @extend .btn-base;
  background-color: white;
  color: rgba(47, 48, 89, 1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(200, 207, 233, 1);

  &:active {
    background-color: #f9fafb;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 0.5px 1px 0 rgba(200, 207, 233, 1);
  }
}

.btn-submit {
  @extend .btn-base;
  background-color: #5865F2;
  color: white;
  box-shadow: 0 0 0 1px rgba(86, 89, 255, 1) , 0 1px 3px 0 rgba(200, 207, 233, 1);


  &:active {
    background-color: #4752c4;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.btn-danger {
  @extend .btn-base;
  background-color: #ff5c5c;
  color: white;

  &:active {
    background-color: #e04b4b;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.btn-submit:focus-visible,
.btn-danger:focus-visible,
.btn-cancel:focus-visible {
  box-shadow: 0 0 0 3px rgba(107, 124, 255, 0.4);
}
